<h1>Users#index</h1>

<table>
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "date" %></th>
    <th><%= sortable "number" %></th>
    <th><%= sortable "description" %></th>
  </tr>
  # Display user
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td> 
      <td><%= user.date %></td>  
      <td><%= user.number %></td>  
      <td><%= user.description %></td>  
    </tr>
  <% end %>        
</table>